footer{
  margin-top: 50px;
}

.footer-nav{
  padding:30px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  
  & a{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.49);
    line-height: 40px;
    &:hover{
      color: white;
    }
  }
}

.footer-socials{
  margin:20px auto;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 25px;
}

@media (min-width: $breakpoint-medium) {
  .second-page-footer{
  &+footer{
    display: none;
  }
}
}

@media (min-width: $breakpoint-xlarge) {
  .footer-nav{
   flex-direction: row;
    justify-content: space-around;
  }
}
