<header>

  
<div class="navbar">
  <div class="navbar-top">
    <div class="navbar-toggle"> </div>
    <div class="logo">
       <a href="index.html">
     
       <img src="images/logo.svg" alt="">
        Весна всегда
        </a>
    </div>
  </div>

  <ul class="navbar-nav">
    <li><a href="#">свадебная
флористика</a></li>
    <li><a href="#">букеты на любые
мероприятия</a></li>
    <li><a href="#">букеты невесты</a></li>
    <li><a href="#">композиции</a></li>
    <li><a href="#">оформление
мероприятий</a></li>
  </ul>
</div>
</header>